@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>CARRITO DE COMPRAS</h3>
<table class="table table-dark table-striped">
    <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Accion</th>
        <th>Subtotal</th>
    </tr>
    @foreach (var Elemento in ViewBag.carrito   )
    {
      <tr>
          <td>@Elemento.Producto.Nombre</td>
          <td><img src="~/imagenes/@Elemento.Producto.Imagen" height="90" width="90" ></td>
          <td>@Elemento.Producto.Precio</td>
          <td >@Elemento.Cantidad</td>
          <td><a asp-controller="Carrito" asp-action="Quitar" asp-route-id="@Elemento.Producto.Id" >Eliminar uno </a></td>
          <td>@(Elemento.Producto.Precio*Elemento.Cantidad)</td>
        </tr>  
    }
    <tr>
        <td colspan="5" align="right">Total:</td>
        <td colspan="1">@ViewBag.total</td>
    </tr>



</table>
<br>
<table border="0" align="right">
    <tr>
        <td colspan="4" align="right"><a asp-controller="ProductoParaCarrito" asp-action="Index">Volver Atras</a></td>
        @{
            if (ViewBag.total>0)
            {
                <td colspan="1" align="right"><a asp-controller="Carrito" asp-action="RealizarCompra">Finaliza Compra</a></td>
            }
        }
        
    </tr>
</table>


